.login-btn{
  display: inline-block;
  text-align: center;
  margin-top: 3rem;
  .btn{
    border-radius: 2rem;
    padding: 0.5rem 3rem;
    background-color: transparent;
    color: $gray-500;
    border: 0.1rem solid $gray-500;
  }
  a{
    color: $font-color;
    &:hover, &:active, &:focus{
      text-decoration: none;
      color: $gray-500;
    }
  }
}
