div.row.explore-tabs{
  margin-top: 5rem;
}

.explore-pills{
  text-align: center;
  ul{
    display: block;
    li {
      display: inline;
      padding: 0 10px;
      border-left: solid 0.1rem $gray-500;
      display: inline-block;
      &:first-child{
        border-left: none;
      }
      a {
        // float: left;
        color: $gray-500;
        &:hover, &:active, &:focus{
          color: $gray-900;
          text-decoration: none;
        }
      }
    }
  }
}
